<#include "headerhome.html"> 
	
		<div class="row clienti">
		<div class="col-md-12">
			<h3>INSERISCI NUOVO CLIENTE</h3>
		</div>
		</div>
	<form method="POST" action="Aggiungi">
			<div class="form-group">
		    <label for="inputAddress">Ragione Sociale</label>
		    <input type="text" name="nome" class="form-control" id="inputAddress" placeholder="Prova SRL">
		  </div>
		  
		  <div class="form-group">
		    <label for="inputAddress">Comune</label>
		    <input type="text" name="comune" class="form-control" id="inputAddress" placeholder="Comune">
		  </div>
		  <div class="form-group">
		    <label for="inputAddress">Legale Rappresentante</label>
		    <input type="text" name="rappresentante" class="form-control" id="inputAddress" placeholder="Angelini Marco">
		  </div>
		  <div class="form-group">
		    <label for="inputAddress">Sede Legale</label>
		    <input type="text" name="sedel" class="form-control" id="inputAddress" placeholder="Teramo">
		  </div>
		  <div class="form-group">
		    <label for="inputAddress">Sede Operativa</label>
		    <input type="text" name="sedeo" class="form-control" id="inputAddress" placeholder="Pineto">
		  </div>
		  <div class="form-group">
		    <label for="inputAddress">Codice Fiscale</label>
		    <input type="text" name="codfis" class="form-control" id="inputAddress" placeholder="NGLMRC...">
		  </div>
		  <div class="form-group">
		    <label for="inputAddress">P.IVA</label>
		    <input type="text" name="iva" class="form-control" id="inputAddress" placeholder="123456789">
		  </div>
		  <div class="form-group">
		    <label for="inputAddress">Indirizzo Mail</label>
		    <input type="text" name="email" class="form-control" id="inputAddress" placeholder="marco@gmail.com">
		  </div>
		  <div class="form-group">
		    <label for="inputAddress">Indirizzo PEC</label>
		    <input type="text" name="pec" class="form-control" id="inputAddress" placeholder="PEC">
		  </div>
		  <div class="form-group">
		    <label for="inputAddress">Cellulare</label>
		    <input type="text" name="cellulare" class="form-control" id="inputAddress" placeholder="3335548521">
		  </div>
		  <div class="form-group">
		    <label for="inputAddress">Telefono Fisso</label>
		    <input type="text" name="telefono" class="form-control" id="inputAddress" placeholder="08594975726">
		  </div>
		  <div class="form-group">
		    <label for="inputAddress">Classificazione Ateco</label>
		    <input type="text" name="ateco" class="form-control" id="inputAddress" placeholder="Ateco">
		  </div>
		  <div class="form-group">
		    <label for="inputAddress">Eventuali Note</label>
		    <input type="text" name="note" class="form-control" id="inputAddress" placeholder="Note">
		  </div>
		  
		  <button type="submit" class="btn btn-default">INSERISCI</button>
		  <button type="submit" class="btn btn-default">ANNULLA</button>
  
	</form>
</div>

<#include "footer.html">