<#include "headerhome.html"> 
	
		<div class="row clienti">
		<div class="col-md-12">
			<h3>DETTAGLI AZIENDA</h3>
		</div>
		</div>

		<div class="row">
			<div class="col-md-12">
    <div class="table-responsive panel">
      <table class="table">
             <tbody>
				   <tr>
					   <td class="testo"><i class="glyphicon glyphicon-user"></i> Ragione Sociale</td>
			           <td>${nome}</td>
			       </tr>
				   <tr>
					   <td class="testo"><i class="glyphicon glyphicon-home"></i> Comune</td>
					   <td>${comune}</td>
			       </tr>
			       <tr>
			           <td class="testo"><i class="glyphicon glyphicon-bookmark"></i> Legale Rappresentante</td>
			           <td>${rappresentante}</td>
		           </tr>
				   <tr>
				       <td class="testo"><i class="glyphicon glyphicon-briefcase"></i> Sede Legale</td>
			           <td>${sede_legale}</td>
			       </tr>
			       <tr>
				       <td class="testo"><i class="glyphicon glyphicon-briefcase"></i> Sede Operativa</td>
		               <td>${sede_operativa}</td>
			       </tr>
				   <tr>
				       <td class="testo"><i class="glyphicon glyphicon-list-alt"></i> Codice Fiscale</td>
				       <td>${codice_fiscale}</td>
			       </tr>
			       <tr>
					   <td class="testo"><i class="glyphicon glyphicon-barcode"></i> P.IVA</td>
				       <td>${iva}</td>
				   </tr>
				   <tr>
			           <td class="testo"><i class="glyphicon glyphicon-envelope"></i> Indirizzo Mail</td>
				       <td>${email}</td>
				   </tr>
				   <tr>
				       <td class="testo"><i class="glyphicon glyphicon-envelope"></i> Indirizzo PEC</td>
			           <td>${pec}</td>
			      </tr>
		          <tr>
		               <td class="testo"><i class="glyphicon glyphicon-phone"></i> Cellulare</td>
			           <td>${cellulare}</td>
			      </tr>
		          <tr>
			           <td class="testo"><i class="glyphicon glyphicon-phone-alt"></i> Telefono Fisso</td>
		               <td>${telefono}</td>
				  </tr>
		          <tr>
			           <td class="testo"><i class="glyphicon glyphicon-stats"></i> Classificazione Ateco</td>
		               <td>${ateco}</td>
				  </tr>
			      <tr>
				       <td class="testo"><i class="glyphicon glyphicon-pencil"></i> Eventuali Note</td>
			           <td>${note}</td>
			      </tr>
		        </tbody>
             </table>
                                                
          </div>
 		</div>
		<a class="btn btn-default" href="#" role="button"><h3 class="testo">AREA FORMAZIONE</h3></a>
       </div>

</div>

<#include "footer.html">