<#include "headerhome.html"> 
	
		<div class="row clienti">
		<div class="col-md-12">
			<h3>DETTAGLI AZIENDA</h3>
		</div>
		</div>

		<div class="row">
			<div class="col-md-12">
    <div class="table-responsive panel">
      <table class="table">
             <tbody>
             <#if azienda ??>
             	<tr>
					   <td class="testo"><i class="glyphicon glyphicon-chevron-right"></i> Numero</td>
			           <td>${azienda.numero}</td>
			       </tr>
				   <tr>
					   <td class="testo"><i class="glyphicon glyphicon-user"></i> Ragione Sociale</td>
			           <td>${azienda.nome}</td>
			       </tr>
				   <tr>
					   <td class="testo"><i class="glyphicon glyphicon-home"></i> Comune</td>
					   <td>${azienda.comune}</td>
			       </tr>
			       <tr>
			           <td class="testo"><i class="glyphicon glyphicon-bookmark"></i> Legale Rappresentante</td>
			           <td>${azienda.rappresentante}</td>
		           </tr>
				   <tr>
				       <td class="testo"><i class="glyphicon glyphicon-briefcase"></i> Sede Legale</td>
			           <td>${azienda.sede_legale}</td>
			       </tr>
			       <tr>
				       <td class="testo"><i class="glyphicon glyphicon-briefcase"></i> Sede Operativa</td>
		               <td>${azienda.sede_operativa}</td>
			       </tr>
				   <tr>
				       <td class="testo"><i class="glyphicon glyphicon-list-alt"></i> Codice Fiscale</td>
				       <td>${azienda.codice_fiscale}</td>
			       </tr>
			       <tr>
					   <td class="testo"><i class="glyphicon glyphicon-barcode"></i> P.IVA</td>
				       <td>${azienda.iva}</td>
				   </tr>
				   <tr>
			           <td class="testo"><i class="glyphicon glyphicon-envelope"></i> Indirizzo Mail</td>
				       <td>${azienda.email}</td>
				   </tr>
				   <tr>
				       <td class="testo"><i class="glyphicon glyphicon-envelope"></i> Indirizzo PEC</td>
			           <td>${azienda.pec}</td>
			      </tr>
		          <tr>
		               <td class="testo"><i class="glyphicon glyphicon-phone"></i> Cellulare</td>
			           <td>${azienda.cellulare}</td>
			      </tr>
		          <tr>
			           <td class="testo"><i class="glyphicon glyphicon-phone-alt"></i> Telefono Fisso</td>
		               <td>${azienda.telefono}</td>
				  </tr>
		          <tr>
			           <td class="testo"><i class="glyphicon glyphicon-stats"></i> Classificazione Ateco</td>
		               <td>${azienda.ateco}</td>
				  </tr>
			      <tr>
				       <td class="testo"><i class="glyphicon glyphicon-pencil"></i> Eventuali Note</td>
			           <td>${azienda.note}</td>
			      </tr>
			      </#if>
		        </tbody>
             </table>
                                                
          </div>
 		</div>
		<a class="btn btn-default" href="#" role="button"><h3 class="testo">AREA FORMAZIONE</h3></a>
       </div>

</div>
<br><br><br>

<#include "footer.html">