<div class="footer">
	<div class="row">
		<div class="col-md-6 margine">
		  <p>STUDIO DI INGEGNERIA</p>
		  <p>Via Petrarca, 56 - 64025 Pineto (TE)</p>
		  <p>M. 348 3195045 E-mail: ing.delsole@hotmail.it</p>
		</div>
		<div class="col-md-6 margine">
		  <p>&copy; All right reserved</p>
		  <p>Powered by Angelini&Morè</p>
		</div>
	</div>
</div>

 <script src="http://code.jquery.com/jquery-1.9.1.js"></script>

 <script src="http://code.jquery.com/jquery-migrate-1.1.0.js"></script>
 
<script src="Template/bootstrap/js/bootstrap.js"></script>
	<!-- <script src="Template/bootstrap/js/bootstrap.min.js"></script>-->
	<script src="Template/bootstrap/js/npm.js"></script>
	
	

</body>
</html>