<#include "headerhome.html"> 
	
		<div class="row clienti">
		<div class="col-md-12">
			<h3>AREA FORMAZIONE: <if nomeaz ??>${nomeaz.nome}</if></h3>
		</div>
		</div>
		<div class="row">
		<div class="col-md-12 spazio_fondo2">
	  	  <table class="table table-responsive table-hover">
  <thead>
        <tr>
        <th></th>
        <th>Tipologia Corso</th>
        </tr>
    </thead>
    <tbody>
    <#if corsi ??>
    <#list corsi as Corsi>
        <tr class="clickable" data-toggle="collapse" id="row${Corsi.id}" data-target=".row${Corsi.id}">
            <td><i class="glyphicon glyphicon-plus"></i></td>
            <td class="upper"><b>${Corsi.nome}</b></td>
        </tr>
        <#if corsisti ??>
        <#list corsisti as Corsisti>
        <#if Corsisti.getIdCorso() == Corsi.id>
        <tr class="collapse row${Corsi.id}">
            <td><b>Corsista</b></td>
            <td>${Corsisti.nome} ${Corsisti.cognome}</td>
          	<td>${Corsisti.getDataIni()}</td>  
            
            			  		<!-- Trigger/Open The Modal -->
			  		<td>
			  		<button type="button"  data-toggle="modal" data-target="#exampleModal-${Corsisti.id}">
			  		<img src="Template/img/elimina.png" class="icona">
			  		</button>
			  		
									  	
<!-- Modal -->
<form method="POST" action="Formazione">
<div class="modal fade" id="exampleModal-${Corsisti.id}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">ELIMINA</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Sei sicuro di voler eliminare questo elemento?
      </div>
      <div class="modal-footer">
      
        <button type="submit" name="scelta" value="eliminasi" class="btn btn-secondary">SI</button>
         <input type="hidden" name="id" value="${Corsisti.id}">
        <button type="button" class="btn btn-primary" data-dismiss="modal">NO</button>
      </div>
    </div>
  </div>
</div>
</form>
					
			  		</td>
            
            
        </tr>
        </#if>
        </#list>
        </#if>
        </#list>
        </#if>
    </tbody>
</table>
</div>

<div class="spazio_fondo">
<div class="row">
<div class="col-md-6">
<form method="POST" action="Formazione">
<h3>AGGIUNGI CORSISTA</h3>
  <div class="form-group">
    <label for="exampleFormControlInput1">Nome</label>
    <input name="nomecorsista" type="text" class="form-control" id="exampleFormControlInput1" placeholder="Claudio">
  </div>
  <div class="form-group">
  <label for="exampleFormControlInput1">Cognome</label>
    <input name="cognomecorsista" type="text" class="form-control" id="exampleFormControlInput1" placeholder="More'">
   </div> 
   <div class="form-group">
  <label for="exampleFormControlInput1">Data</label>
    <input name="data" type="date" class="form-control" id="exampleFormControlInput1">
   </div>
  <div class="form-group">
    <label for="exampleFormControlSelect1">Scegli il Corso</label>
    <select class="form-control" id="exampleFormControlSelect1" name="idcorso">
    <#if corsi ??>
    <#list corsi as Corsi>
      <option  value="${Corsi.id}">${Corsi.nome}</option>
        </#list>
        </#if>
    </select>
  </div>
  <button type="submit" class="btn btn-default" name="scelta" value="corsista">Aggiungi Corsista</button>
  </form>
</div>

<div class="col-md-6">
<form method="POST" action="Formazione">
<h3>AGGIUNGI CORSO</h3>
  <div class="form-group">
    <label for="exampleFormControlInput1">Nome Corso</label>
    <input name="nomecorso" type="text" class="form-control" id="exampleFormControlInput1" placeholder="Nome del corso">
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput1">Durata</label>
    <input name="durata" type="text" class="form-control" id="exampleFormControlInput1" placeholder="Durata">
  </div>
<button type="submit" class="btn btn-default" name="scelta" value="corso">Aggiungi Corso</button>
</form>

<form method="POST" action="Formazione">
<h3 class="red">ELIMINA CORSO</h3>
    <div class="form-group">
    <label for="exampleFormControlSelect1">Scegli il Corso</label>
    <select class="form-control" id="exampleFormControlSelect1" name="idcorso">
    <#if corsi ??>
    <#list corsi as Corsi>
      <option  value="${Corsi.id}">${Corsi.nome}</option>
        </#list>
        </#if>
    </select>
  </div>
<button type="submit" class="btn btn-default" name="scelta" value="elimina">Elimina Corso</button>
</form>

</div>
</div>
<br><br><br>
</div>


</div>

</div>


<#include "footer.html">