<#include "headerhome.html"> 
	
		<div class="row clienti">
		<div class="col-md-12">
			<h3>AREA FORMAZIONE</h3>
		</div>
		</div>
		<div class="row spazio_fondo">
		<div class="col-md-12">
	  	  <table class="table table-responsive table-hover">
  <thead>
        <tr>
        <th></th>
        <th>Tipologia Corso</th>
        </tr>
    </thead>
    <tbody>
        <tr class="clickable" data-toggle="collapse" id="row1" data-target=".row1">
            <td><i class="glyphicon glyphicon-plus"></i></td>
            <td><b>PRIMO SOCCORSO</b></td>
        </tr>
        <tr class="collapse row1">
            <td><b>Corsista</b></td>
            <td>Angelini Marco</td>
          	<td>20/05/2017</td>  
            <td>Modifica</td>
        </tr>
        
    </tbody>
</table>
</div>
</div>
</div>


<#include "footer.html">