<#include "headerhome.html"> 
	
		<div class="row clienti">
		<div class="col-md-12">
			<h3>AREA FORMAZIONE</h3>
		</div>
		</div>

	  	  <table class="table table-responsive table-hover">
  <thead>
        <tr>
        <th></th>
        <th>Tipologia Corso</th>
        </tr>
    </thead>
    <tbody>
    <#if corsi ??>
    <#list corsi as Corsi>
        <tr class="clickable" data-toggle="collapse" id="row${Corsi.id}" data-target=".row${Corsi.id}">
            <td><i class="glyphicon glyphicon-plus"></i></td>
            <td><b>${Corsi.nome}</b></td>
        </tr>
        <tr class="collapse row${Corsi.id}">
            <td><b>Corsista</b></td>
            <td>Angelini Marco</td>
          	<td>20/05/2017</td>  
            <td>Modifica</td>
        </tr>
        </#list>
        </#if>
    </tbody>
</table>

</div>
<br><br><br>

<#include "footer.html">