<!DOCTYPE html>
<html>
<head>
	<title>GDS</title>
	<link rel="stylesheet" type="text/css" href="Template\bootstrap\css\bootstrap.css">
	<link rel="stylesheet" type="text/css" href="Template\bootstrap\css\bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="Template\bootstrap\css\bootstrap-theme.css">
	<link rel="stylesheet" type="text/css" href="Template\bootstrap\css\bootstrap-theme.min.css">
	
	
</head>
<body>
	<div class="container">
	    <h1>Studio di Ingegneria Del Sole Germano</h1>      
	    <p>Gestionale utilizzato per la semplificazione e l'organizzazione dei lavori</p>
	    <div class="row">
	    	<div class="col-md-3">
	    		<a href="Home"><img class="logo" src="Template\img\logo.png"></a>
	    	</div>
	    	<div class="col-md-3 ppp">
					<a class="btn btn-default" href="Aggiungi" role="button" title="Aggiungi Cliente"><img class="link" src="Template\img/cliente.png"></a>
					<a class="btn btn-default" href="Scadenzario" role="button" title="Scadenzario"><img class="link" src="Template\img/scadenziario.png"></a>
					<a class="btn btn-default" href="Audit" role="button" title="Audit"><img class="link" src="Template\img/audit.png"></a>
					<a class="btn btn-default nero" href="Logout" role="button" title="Logout"><img class="link" src="Template\img/logout.png"></a>
			</div>
	    </div>