<!DOCTYPE html>
<html>
<head>
	<title>GDS</title>
	<link rel="stylesheet" type="text/css" href="Template\bootstrap\css\bootstrap.css">
	<link rel="stylesheet" type="text/css" href="Template\bootstrap\css\bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="Template\bootstrap\css\bootstrap-theme.css">
	<link rel="stylesheet" type="text/css" href="Template\bootstrap\css\bootstrap-theme.min.css">
	
	
</head>
<body>
	<div class="container">
	<div class="row">
	
	    	<div class="col-md-1">
	    		<a href="Home"><img class="logo" src="Template\img\logo.png"></a>
	    		</div>
	    		
	    		<div class="col-md-6">
	    <h2>Studio di Ingegneria Del Sole Germano</h2>      
	    <p>Gestionale utilizzato per la semplificazione e l'organizzazione dei lavori</p>
	    </div>
	    	</div>
	    	<div class="row">
	    	<div class="col-md-4 ppp">
					<a class="btn btn-default" href="Aggiungi" role="button" title="Aggiungi Cliente"><img class="link" src="Template\img/cliente.png"></a>
					<a class="btn btn-default" href="Scadenzario" role="button" title="Scadenzario"><img class="link" src="Template\img/scadenziario.png"></a>
					<a class="btn btn-default" href="Auditc" role="button" title="Audit Commerciale"><b class="link">AC</b></a>
					<a class="btn btn-default" href="Auditt" role="button" title="Audit Tecnico"><b class="link">AT</b></a>
					<a class="btn btn-default nero" href="Logout" role="button" title="Logout"><img class="link" src="Template\img/logout.png"></a>
			</div>
	    </div>