<!DOCTYPE html>
<html>
<head>
	<title>GDS</title>
	<link rel="stylesheet" type="text/css" href="bootstrap-3.3.7-dist\css\bootstrap.css">
	<link rel="stylesheet" type="text/css" href="bootstrap-3.3.7-dist\css\bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="bootstrap-3.3.7-dist\css\bootstrap-theme.css">
	<link rel="stylesheet" type="text/css" href="bootstrap-3.3.7-dist\css\bootstrap-theme.min.css">
</head>
<body>
	<div class="container">
	    <h1>Studio di Ingegneria Del Sole Germano</h1>      
	    <p>Gestionale utilizzato per la semplificazione e l'organizzazione dei lavori</p>
	    <div class="row">
	    	<div class="col-md-3">
	    		<img class="logo" src="img\logo.png">
	    	</div>
	    </div>
	</div> 
	  	<div class="container">
		<div class="row">
		<div class="col-md-12">
			<center><h2>Area Riservata</h2></center>
			<br><br>
		<form class="form-horizontal">
		  <div class="form-group">
		    <label for="inputEmail3" class="col-sm-3 control-label">Email</label>
		    <div class="col-sm-6">
		      <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="inputPassword3" class="col-sm-3 control-label">Password</label>
		    <div class="col-sm-6">
		      <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
		    </div>
		  </div>
		  <div class="form-group">
		    <div class="col-sm-offset-3 col-sm-10">
		      <button type="submit" class="btn btn-default">Login</button>
		    </div>
		  </div>
		</form>
	</div>
</div>
</div>
</body>
</html>