<#include "headerhome.html"> 
	
		<div class="row clienti">
		<div class="col-md-12">
			<h3>NOME AZIENDA</h3>
		</div>
		</div>
		<div class="row spazio_fondo">
		<div class="col-md-12">
	<form method="POST" action="Modifica">
	<#if azienda ??>
	<div class="form-group">
		    <label for="inputAddress">Numero: ${azienda.numero}</label>
		    <input type="text" class="form-control" id="inputAddress" name="numero">
		  </div>
			<div class="form-group">
		    <label for="inputAddress">Ragione Sociale: ${azienda.nome}</label>
		    <input type="text" class="form-control" id="inputAddress" name="nome">
		  </div>
		  <div class="form-group">
		    <label for="inputAddress">Comune: ${azienda.comune}</label>
		    <input type="text" class="form-control" id="inputAddress" name="comune">
		  </div>
		  <div class="form-group">
		    <label for="inputAddress">Legale Rappresentante: ${azienda.rappresentante}</label>
		    <input type="text" class="form-control" id="inputAddress" name="rappresentante">
		  </div>
		  <div class="form-group">
		    <label for="inputAddress">Sede Legale: ${azienda.sede_legale}</label>
		    <input type="text" class="form-control" id="inputAddress" name="sedel">
		  </div>
		  <div class="form-group">
		    <label for="inputAddress">Sede Operativa: ${azienda.sede_operativa}</label>
		    <input type="text" class="form-control" id="inputAddress" name="sedeo">
		  </div>
		  <div class="form-group">
		    <label for="inputAddress">Codice Fiscale: ${azienda.codice_fiscale}</label>
		    <input type="text" class="form-control" id="inputAddress" name="codfis">
		  </div>
		  <div class="form-group">
		    <label for="inputAddress">P.IVA: ${azienda.iva}</label>
		    <input type="text" class="form-control" id="inputAddress" name="iva">
		  </div>
		  <div class="form-group">
		    <label for="inputAddress">Indirizzo Mail: ${azienda.email}</label>
		    <input type="text" class="form-control" id="inputAddress" name="email">
		  </div>
		  <div class="form-group">
		    <label for="inputAddress">Indirizzo PEC: ${azienda.pec}</label>
		    <input type="text" class="form-control" id="inputAddress" name="pec">
		  </div>
		  <div class="form-group">
		    <label for="inputAddress">Cellulare: ${azienda.cellulare}</label>
		    <input type="text" class="form-control" id="inputAddress" name="cellulare">
		  </div>
		  <div class="form-group">
		    <label for="inputAddress">Telefono Fisso: ${azienda.telefono}</label>
		    <input type="text" class="form-control" id="inputAddress" name="telefono">
		  </div>
		  <div class="form-group">
		    <label for="inputAddress">Classificazione Ateco: ${azienda.ateco}</label>
		    <input type="text" class="form-control" id="inputAddress" name="ateco">
		  </div>
		  <div class="form-group">
		    <label for="inputAddress">Eventuali Note: ${azienda.note}</label>
		    <input type="text" class="form-control" id="inputAddress" name="note">
		    <input type="hidden" name="id" value="${azienda.id}">
		  </div>
		  
		  <button type="submit" class="btn btn-default" name="decisione" value="salva">SALVA</button>
		  <button type="submit" class="btn btn-default" name="decisione" value="annulla">ANNULLA</button>
  
  </#if>
	</form>
	


	
</div>
</div>

</div>

<#include "footer.html">