<#include "headerhome.html">

        <!-- SCADENZARIO -->
        <div class="row clienti">
		<div class="col-md-12">
			<#if titolo ??><h3>RICERCA</h3>
			<#else>
			<h3>SCADENZARIO</h3>
			</#if>
		</div>
		</div>
		<div class="row">
		<div class="col-md-12 spazio_fondo">
		<h4>Seleziona il numero di righe</h4>
        <div class="form-group"> 
            <select class  ="form-control" name="state" id="maxRows">
				<option value="5000">Mostra tutte le righe</option>
				<option value="5">5</option>
				<option value="10">10</option>
				<option value="15">15</option>
				<option value="20">20</option>
				<option value="50">50</option>
				<option value="70">70</option>
				<option value="100">100</option>
            </select> 		
        </div>
        <table id="mytable" class="table table-bordered table-striped">
            <thead>
                <tr>
                	<th>Numero</th>
                    <th>Nome Azienda</th>
                    <th>Comune</th>
                    <th>Nome Corsista</th>
                    <th>Corso</th>
                    <th>Mese di Scadenza</th>
                    <th>Corso Fatto</th>
                    <th>Elimina</th>
                </tr>
            </thead>
            <tbody>
            <#if lista ??>
			  <#list lista as Lista>
			  <tr>
			  		<td>${Lista.numero}</td>
			  		<td><a href="Dettagli?id=${Lista.id}">${Lista.nome}</a></td>
			  		<td>${Lista.comune}</td>
			  		<td>${Lista.getNomeCorsista()} ${Lista.getCognome()}</td>
			  		<td>${Lista.getNomeCorso()}</td>
			  		<td>${Lista.getDataScad()}</td>
			  		<#if Lista.getScaduto() == 1>
		<td>SCADUTO</td>
		<#else>
		<td>NON SCADUTO</td>
		</#if>
			  		<td><a href="Modifica?id=${Lista.id}"><img class="icona" src="Template/img/modifica.png"></a></td>
			  		<!-- Trigger/Open The Modal -->
			  		<td><!-- <img id="myBtn" src="Template/img/elimina.png" class="icona modal"></img> -->
			  		<button type="button"  data-toggle="modal" data-target="#exampleModal-${Lista.id}">
			  		<img src="Template/img/elimina.png" class="icona">
			  		</button>
			  		
									  	
<!-- Modal -->
<form method="POST" action="Home">
<div class="modal fade" id="exampleModal-${Lista.id}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">ELIMINA</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Sei sicuro di voler eliminare questo elemento?
      </div>
      <div class="modal-footer">
      
        <button type="submit" name="tasto" value="si" class="btn btn-secondary">SI</button>
         <input type="hidden" name="id" value="${Lista.id}">
        <button type="button" class="btn btn-primary" data-dismiss="modal">NO</button>
      </div>
    </div>
  </div>
</div>
</form>
					
			  		</td>
			  		</tr>
			  		</#list>
			  		</#if>
            </tbody>
        </table>
        <div class='pagination-container' >
            <nav>
				<ul class="pagination"></ul>
            </nav>
        </div>
        
        	<div class="row spazio_fondo">
		<div class="col-md-12">
			<h3 class="clienti">CERCA</h3>
			<form method="POST" action="Home">
			  <div class="form-group">
			    <label for="exampleInputEmail1">Nome Azienda</label>
			    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Nome" name="nomeaz">
			  </div>
			  <div class="form-group">
			    <label for="exampleInputPassword1">Corso</label>
			    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Corso" name="corso">
			  </div>
			  <div class="form-group">
			    <label for="exampleInputPassword1">Mese di Scadenza</label>
			    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Mese" name="mese">
			  </div>
			  <button type="submit" class="btn btn-default" name="tasto" value="cerca">CERCA</button>
			  <br><br><br><br>
			</form>
		</div>
		</div>
 
		</div>
	</div>
	
	
	
    </div>

  
</div>


<#include "footer.html">