@charset "ISO-8859-1";

.testata{
	background-color: 	#8b0000;
	position: fixed;
	top: 0;
	left:0;
	right: 0;
	border-bottom:2px solid black;
	box-shadow: 1px 1px 1px 1px black;
	z-index: 3;
}

.centro{
	text-align: center;
	

}

.login{
	margin-top:156px;
	
}

.menu{
	
	position: fixed;
top: 61px;
left: 0px;
right: 0px;
z-index: 1;
border-bottom: 1px solid black;
box-shadow: 1px 1px 1px 1px black;	
}

.list{
	height: 100px;
	width:100px;
	margin-top:4px;
	margin-left: 8px;
}

.corpo{
	margin-top:150px;
	z-index: 9;
	margin-left:50px;
}

.dett{
	margin-top: 80px;
}

.sfondo{
	
background-color: 	#006400;

}

.larghezza{
	
	width: 300px;
margin: 0 auto;
	
	
}

.titolo{
	font-family: monospace;
	font-size: 30px;
	font-weight: bold;
}

.testo{
	font-family: monospace;
	font-size: 20px;
	font-weight: bold;
	
}

.tasto{
	background-color: #8b0000;
	border-color: black; 
}

.progresso{
	width: 100%;
}

.giochi{
	border: 2px solid black;
	width: 120px;
	background-color: #8b0000;
	box-shadow: 5px 2px 5px 0px black;
	margin-top: 23px;
}